:root {
  --bg-image: url('../images/cover-image-dark.png');
  --main-font: 'IBM Plex mono';
  --bg-color: #000028;
  --nav-color: #FF0070;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --section-title-color: #FF0070;
  --card-title-color: #000028;
  --main-text-color: #F1B2CE;
}



